{% extends 'base.html.twig' %}

{% block title %}mot de passe oublier {% endblock %}

{% block body %}
<div class="container my-3">
    <div class="row">
        <div class="col">
        <h1>Rénitialisation de mot de passe</h1>
            {{ form_start(form) }}
            {{ form_row(form.password) }}
            <button class="btn btn-primary">Valider</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}
