###> symfony/framework-bundle ###


/.env.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###

###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###

###< symfony/phpunit-bridge ###
