{% extends "base.html.twig" %}

{% block title %}
    Administration
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
        <h1>Administration</h1>
            <main class="col-9 col-xl-4 col-lg-4 border border-light bg-white p-2">
            {% include 'components/_adminnav.html.twig' %}                
            </main>
        </div>
    </div>
{% endblock %}