{% extends 'base.html.twig' %}

{% block title %}
    
{% endblock %}

{% block body %}
    <main class="container mt-5">
        <section class="row">
             {% for product in products.data %}
        <div class="col">
       <div class="card h-100" style="width: 18rem;">
        
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{{path('products_details', {slug:product.slug})}}" class="btn btn-primary">voir les details</a>
        </div>
       </div>
    </div>
    {% endfor %}
        {% set path = 'categories_list' %}
        {% set slug = category.slug %}
        {% set pages = products.page %}
        {% set currentPage = products.pages %}
        {% include 'components/pagination.html.twig' %}
        {% include 'components/test.html.twig' %}

        </section>
    </main>
   
{% endblock %}