/* i'm going to set the height of img and card in all of medias  */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.card-height{
    height:530px;
}
.card-title{
    font-size: 1.3rem;
    font-weight: 400;
    width: 100%;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.image-height{
    min-height: 275px;
    max-height: 75px;
}
.card-text{

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    -webkit-box-orient: vertical;
    white-space: normal;
    
}
.titre{
    font-size: 1.3rem;  
}
.carousel-inner{
    max-height:450px ;
    min-height: 450px;
}
@keyframes promotion{
    0%{
        background-color: #DC3545;
        color: white;
        position: relative;
    }
    100%{
        background-color: white;
        color: #DC3545;
    }

}
.promo{
    animation: promotion 2s ease-in-out infinite;
    padding: 0.5rem;
    color: black; /* To ensure text color is visible */
    text-align: center;

}
.prix{
    width: fit-content;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border-radius:0.7rem ;

}
@media screen and (max-width: 406px) and (min-width: 300px) {
   
    .carousel-inner{
        max-height:200px ;
        min-height: 200px;
        box-sizing: border-box;
    }
    
    .carousel-inner img{
        max-height:270px ;
        min-height: 270px;
       
    }
    .card-height{
        height:330px;
        width: 175px;

    }
    .image-height{
        min-height: 120px;
        max-height: auto;
    }
    .btn{
        font-size:0.7rem ;
        padding: 3px;
    }
    .card-text{

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Number of lines to show */
        -webkit-box-orient: vertical;
        white-space: normal;
        
    }
    .prix{
        font-size: 0.7rem;
    }
    .image-height{
        min-height: 145px;
        max-height: auto;
    }
    
    
  }

@media screen and (max-width: 575.99px) and (min-width: 407px) {
   
    .carousel-inner{
        max-height:200px ;
        min-height: 200px;
        box-sizing: border-box;
    }
    
    .carousel-inner img{
        max-height:250px ;
        min-height: 250px;
    }
    .card-height{
        height:410px;
        width: auto;
    }
    .image-height{
        min-height: 185px;
        max-height: auto;
    }
    .card-text{

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Number of lines to show */
        -webkit-box-orient: vertical;
        white-space: normal;
        
    }
    .prix{
        font-size: 0.8rem;
    }
    .btn{
        font-size:0.8rem ;
        padding: 5px;
    }
  }

@media screen and (max-width: 768px) and (min-width: 576px) {
    .carousel-inner{
        max-height:200px ;
        min-height: 200px;
        box-sizing: border-box;
    }

    .carousel-inner img{
        max-height:250px ;
        min-height: 250px;
    }
    .card-height{
        height:410px;
        width: auto;
    }
    .image-height{
        min-height: 175px;
        max-height: auto;
    }
    .card-text{

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Number of lines to show */
        -webkit-box-orient: vertical;
        white-space: normal;
        
    }
    .prix{
        font-size: 0.8rem;
    }
    .btn{
        font-size:0.6rem ;
        padding: 5px;
    }
    
  }


@media screen and (max-width: 992px) and (min-width: 768px) {
    .carousel-inner{
        max-height:250px ;
        min-height: 250px;
    }
    .prix{
        font-size: 0.9rem;
    }
    .btn{
        font-size:0.9rem ;
        padding: 5px;
    }
    .titre{
        font-size: 0.9rem;  
    }
  }
  @media screen and (max-width: 1200px) and (min-width: 993px) {
    .carousel-inner{
        max-height:350px ;
        min-height: 350px;
    }
  }
