
<footer class="footer mt-5">
  <div class="footer__addr">
    <h1 class="footer__logo">Kingdom auto-care</h1>
        
    <h2>Contact</h2>
    
    <address>
      16 Av Philipe auguste, 75011 PARIS<br>
          <a href="#"><img src="{{ asset('assets/uploads/facebook.svg') }}" alt=""></a>
          <a href=""><img src="{{asset('assets/uploads/instagram.svg')}}" alt=""></a> 
      <a class="footer__btn" href="mailto:contact@kingdom.com">Email Us</a>
    </address>
  </div>
  
  <ul class="footer__nav  justify-around d-flex align-items-center">
  
    
    <li class="nav__item nav__item--extra">
      <h2 class="nav__title m-auto text-center">Qui sommes nous !</h2>
      
      <ul class="nav__ul ">
        <li>
          <a href="#">
            Kingdom auto-care le leader des produits de detailing en France , nous vous proposons des produits de qualité pour l'entretien de votre véhicule , proffessionnels ou particuliers , nous avons ce qu'il vous faut !
          </a>
        </li>
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p>&copy; 2024 YS. All rights reserved.</p>
    
    
  </div>
</footer>

