

    <h1>activez votre compte</h1>
    <p>Bonjour inscription sur le site e-commerce est a valider en cliquant sur le lien ci dessus : </p>
    <p><a href="{{absolute_url(path('verify_user',{token:token}))}}"> {{ absolute_url(path('verify_user', {token:token})) }} </a></p>
